@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #d31027, #ea38a3);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    width: min(1200px, 95%);
    margin: 1rem auto;
}

.content__title {
    text-align: center;
    font-size: clamp(28px, 2.5vw + 10px, 48px);
    font-weight: 600;
    color: #fff;
}

.form {
    max-width: 400px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.form input {
    flex: 1;
    border: none;
    padding: 0 25px;
    padding-right: 0;
    outline: none;
    font-size: 1rem;
}

.form input::-webkit-search-cancel-button {
    margin-left: 10px;
}

.form button {
    padding: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.columns {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
}

.column-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.column-item img {
    height: 300px;
    width: 100% !important;
    object-fit: cover;
}

.image-content {
    position: absolute;
    inset: 0;
    z-index: 5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25));
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.column-item:hover .image-content {
    opacity: 1;
}

.phothography {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.phothography::before {
    content: "";
    background-image: url("camera-solid-24.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.no-result {
    text-align: center;
    color: #fff;
    grid-column: 1 / -1;
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader::before {
    content: "";
    border: 10px solid #da4453;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
.footer {
    padding: 2rem;
    margin-top: auto;
    text-align: center;
}

.footer a {
    display: inline-block;
}

.footer img {
    max-width: 140px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #d31027;
}
